img {
  width: 100%;
  border-radius: 5px;
}

.cart-text {
  text-align: center;
  font-size: xx-large;
  margin-top: 15%;
}

.totalPrice {
  font-size: x-large;
  margin-top: 20px;
}
mat-form-field {
  width: 100%;
}
